/* /styles/globals.css */

/* Tailwind CSS의 기본, 구성 요소, 유틸리티 스타일을 가져옵니다. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 여기에 추가적인 전역 스타일이나 커스텀 클래스를 정의할 수 있습니다. */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 지도 위의 정보창(infowindow) 기본 스타일 제거 */
.naver-map-info-window-close-btn {
    display: none !important;
}
.naver-map-info-window-content {
    padding: 0 !important;
    border: none !important;
    background: none !important;
}
